; Zone file for iso.local
$TTL 86400
@       IN      SOA     ns1.iso.local. admin.iso.local. (
                        2022022301      ; Serial
                        3600            ; Refresh
                        1800            ; Retry
                        604800          ; Expire
                        86400 )         ; Minimum TTL

        IN      NS      ns1.iso.local.

ns1     IN      A       10.0.1.1
www     IN      A       10.0.1.10
ftp     IN      A       10.0.1.20    ; FTP server IP address hosting ISO images
